<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/pages/ProfilePage.css}" />
    <title>Document</title>
</head>
<body>
    <div class="root root_type_light">
        <header class="header">
          <img th:src="@{/images/header__logo.svg}" alt="" class="header__logo" />
          <div class="header__links">
            <a href="" class="header__link">Профиль</a>
            <a th:href="@{WeatherPage}" class="header__link">Погода</a>
          </div>
        </header>
        <main class="main">
          <section class="profile">
            <h1 class="profile__heading">Профиль</h1>
            <div class="profile__info-container">
              <p id="name" class="profile__name"></p>
              <p id="phone" class="profile__phone-number"></p>
              <p id="email" class="profile__email"></p>
            </div>
            <div class="profile__locations">
              <h2 class="profile__locations-heading">Локации</h2>
              <div class="profile__locations-container" id="container">
                
              </div>
            </div>
          </section>
        </main>
    </div>
        <script th:src="@{/scripts/ProfilePage.js}"></script>
</body>
</html>